.container {
}
.header{
    background-color: aqua;
    height: 10em;
}
.slider{
    background-color: grey;
    height: 20em;
}
.Sign-In{
    background-color: black;
    width: 664px;
    margin-left: 150px;
    margin-right: 150px;
    height: 600px;
}
#welcm{
    text-align: center;
    font-family:"Courier 10 Pitch";
    font-size:5em;
    font-weight: bold;
    color: white;
    padding-top: 5px;
}
.signinbutton{
    margin-left: 160px;
    margin-top: 0px;

}
.signinbutton input{
    height: 3em;
    width: 25em;
}
.footer{
    background-color: mediumseagreen;
    height: 5em;
}
.signIn{
    text-align: center;
}
#contentinbutt1{
    color: white;
    margin-top: 35px;
    margin-left: -5px;
}
#contentinbutt2{
    float: right;
    color: white;
    margin-right:170px;
    margin-top: -54px;

}
.clear{
    height: 40%;
}
.opt{
margin-left: 30%;
}
#admin{
    width: 10em;
   border: solid;
    border-color: white;
    color: white;
    font-size: 150%;
    text-align: center;
    margin-bottom: 10%;

}
#voter{
    border:solid;
    color: white;
    font-size: 150%;
    width: 10em;
    border-color: white;
    text-align: center;
}
